fastapi[standard]
uvicorn
python-dotenv
google-genai
pydantic
pydantic-settings
fastapi-users[sqlalchemy]
asyncpg
pgvector
sqlalchemy[ext]
alembic
pymupdf
# Testing
pytest
pytest-asyncio
httpx
aiosqlite